<div class="ge-tv-table-wrapper">
    {{#.}}
    <div class="ge-tv-region-wrapper">
        <div class="ge-tv-region-map" id="{{name}}"></div>
        <div class="ge-tv-chart-wrapper">
            <h3 class='ge-gv-region'>{{name}}</h3>
            <div class="ge-tv-table" id="{{name}}">
                <div class="ge-tv-headerrow">
                    <div class="ge-tv-cell ge-tv-seat">Seat</div>
                    <div class="ge-tv-cell ge-tv-tactical-party">Vote for</div>
                    <div class="ge-tv-cell ge-tv-con-vote cell-align-right">Con vote</div>
                    <div class="ge-tv-cell ge-tv-oppo-vote cell-align-right">Opposition vote</div>
                    <div class="ge-tv-cell ge-tv-ukip-vote ge-tv-desktop cell-align-right">Ukip vote</div>
                </div>
                {{#seats}}
                <div class="ge-tv-row">
                    <div class="ge-tv-cell ge-tv-seat">{{constituency_name}}</div>
                    <div class="ge-tv-cell ge-tv-tactical-party gv-{{class}}"><span class='party {{class}}'>{{biggest_oppo_party}}</span></div>
                    <div class="ge-tv-cell ge-tv-con-vote cell-align-right">{{con}}</div>
                    <div class="ge-tv-cell ge-tv-oppo-vote cell-align-right">{{oppo}}</div>
                    <div class="ge-tv-cell ge-tv-ukip-vote ge-tv-desktop cell-align-right">{{ukip}}</div>
                </div>
                {{/seats}}
            </div>
        </div>
    </div>
    {{/.}}
</div>