<div class="gv-ge-heading"><h3>Where a tactical vote might matter</h3><p>The 48 seats where votes for the opposition (Labour, Lib Dem, SNP or Plaid Cymru) outnumbered those for the Conservatives. But a note of caution: in some places the Ukip vote, if it all went to the Tories, is big enough to keep the Tories in place</div>
<div class="ge-tv-table">
    <div class="ge-tv-headerrow">
        <div class="ge-tv-cell">Seat</div>
                <div class="ge-tv-cell">Location</div>
        <div class="ge-tv-cell">Con vote</div>
        <div class="ge-tv-cell">Total opp. vote</div>
        <div class="ge-tv-cell">Ukip vote</div>
        <div class="ge-tv-cell">Biggest opp. party</div>
    </div>
    {{#.}}
    <div class="ge-tv-row">
        <div class="ge-tv-cell ge-tv-seat">{{seat}}</div>
                <div class="ge-tv-cell">{{location}}</div>

        <div class="ge-tv-cell">{{con}}</div>
        <div class="ge-tv-cell">{{oppo}}</div>
        <div class="ge-tv-cell">{{ukip}}</div>
        <div class="ge-tv-cell gv-{{class}}">{{oppoparty}}</div>
    </div>
            {{/.}}

</div>