@import "mq";
@import "fonts";

// Uncomment for embeds
@import "embed";

// Uncomment for full screen (including immersive article main media)
//@import "fullscreen";


$other : #e3e3e3;
$lab: #E42729;
$con: #1A60A9;
$ld: #FAB817;
$green: #53AC32;
$ukip: #7D0068;


.element-atom,
.interactive-atom {
    margin: 0 !important;
}

h2 em {
    background-color: navy;
    border-radius: 6px 6px 6px 6px;
    color: white;
    font-style: normal;
}

.content__main > p, .content__main h2, .content__main-column--interactive > p, .content__main-column--interactive h2, .article__body > p, .article__body h2 {  
      max-width: 640px; }

@media (min-width: 1140px) 
    {      .content__main > p, .content__main h2, .content__main-column--interactive > p, .content__main-column--interactive h2, .article__body > p, .article__body h2 
        {        margin-left: 160px;
                margin-right: 0; }
    }    
            
            
@media (min-width: 1300px) 
    {      .content__main > p, .content__main h2, .content__main-column--interactive > p, .content__main-column--interactive h2, .article__body > p, .article__body h2 
        {        
            margin-left: 240px;        
            margin-right: 0; }
    }    

.ge-tv-headerrow {
    display: table-header-group;
    @include fs-bodyHeading(1);
    margin-bottom: 20px;
}

.ge-tv-row {
    display: table-row;
}

.ge-tv-desktop {
    @media (max-width:500px) {
            display: none !important;
    }
}

.ge-tv-cell {
    display: table-cell;
    @include fs-data(3);
    padding: 2px 5px 0px 0px;

}

.ge-tv-seat {
max-width: 10%;
}

.gv-Labour {
    color: $lab;
}

.gv-LibDem {
    color: $ld;
}